################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/geography coursework/bin/Debug/netcoreapp3.1
/geography coursework/obj
